div.contain {
    width: 100%;
    height: auto;
    overflow: hidden;
}
body {
    font-size: 16px;
    font-family: arial;
    padding:0px;
    margin: 0px;
}
a#gototop {
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: #666666;
    color: white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    font-size: 30px;
    z-index: 10;
    opacity: 50%;
}
div.head {
    position:fixed;
    z-index: 10;
    background-color:#f1f1f1;
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.logo {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.logo div.gif {
    width: 80%;
    height: 75px;
}
div.logo div.gif img {
    width: 100%;
}
div.menu {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.menu div.danhsach {
    width: 70%;
    height: 30px;
}
div.menu div.danhsach ul.menucha {
    list-style-type: none;
    display: flex;
}
div.menu div.danhsach ul.menucha li {
    margin-left: 8%;
    margin-top: 2.5px;
}
div.menu div.danhsach ul.menucha li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.menu div.danhsach ul.menucha li a:hover {
    border-bottom: solid 1px #666666;
}
ul.menucon {
    padding: 0px;
    list-style-type: none;
    background: rgb(0, 0, 0,0.6);
    width: 200px;
    display: none;
}
ul.menucon li.f1 {
    padding-top: 30px;
    border-bottom: 1px solid gray;
    text-indent: -70px;
    
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a {
    color: white;
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a:active {
    color: #191919;
}
li.first:hover .menucon {
    display: block;
    position: absolute;
}
div.lienhe {
    width: 20%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
div.lienhe div.icon {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
}
div.lienhe div.icon div#canhan {
    width: 30%;
    height: auto;
    font-size: 30px;
}
div.lienhe div.icon div#muahang {
    width: 30%;
    height: auto;
    font-size: 30px;
}
div.lienhe div.icon div#canhan a {
    color:#666666;
}
div.lienhe div.icon div#muahang a {
    color: #666666;
}
div.diachi {
    padding-top: 110px;
    text-align: center;
}
div.body {
    background-image: url(image/anhnen2.webp);
    background-size: 100% 100%;
}
div.thongtin {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
div.bando {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
div#bando1 {
    width: 100%;
    height: 30%;
}
div#bando2 {
    width: 100%;
    height: 70%;
}
div.fanpage {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
div#fanpage1 {
    width: 50%;
    text-align: center;
}
div#fanpage1 a {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
}
div#fanpage1 a img {
    width: 100%;
}
div#fanpage2 {
    width: 50%;
}
div#fanpage2 a {
    width: 100%;
    height: auto;
    color: black;
    font-size: 35px;
    margin-right: 10px;
}
div.thongtin h6 {
    font-size: 20px;
}
div#fanpage2 a img {
    width: 10%;
}
div.footer {
    display: flex;
    height: 60px;
    justify-content: center;
     align-items: center;
    height: 60px;
    width: 100%;
    background-color:coral;
    margin-top: 25px;
    border-top: solid 1px gray;
}
div.footer p {
    margin-top: 20px;
}
div.head1 {
    display: none;
}
div.overlay {
    display: none;
}
@media screen and (max-width:768px){
    div.head {
        display: none;
    }
    div.overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }
    div.head1 {
        display: block;
        height: 60px;
        background-color: #f1f1f1;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    div#kihieu {
        width: 50px;
        padding: 15px 30px;
        font-size: 20px;
        color: #191919;
    }
    ul#main-menu {
        flex-direction: column;
    }
    ul#main-menu li {
        list-style-type: none;
        border-bottom: solid 1px #666666;
    }
    ul#main-menu li a {
        color: white;
        display: block;
        text-decoration: none;
        padding-top: 15px;
    }
    nav {
        background-color:rgb(0, 0, 0,0.6);
        display: none;
    }
    li#firstt {
        display: flex;
    }
    ul.menucon1 {
        display: none;
    }
    li#firstt i {
        margin-top : 17px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    li#firstt i#up {
        display: none;
    }
    #canhan1 {
        width: 30px;
        float: right;
        margin-top: -43px;
        margin-right: 10px;
        font-size: 19px;
    }
    #canhan1 a {
        color: #666666;
    }

    div.thongtin {
        margin-top: 100px;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    div.bando {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    div#bando1 {
        width: 100%;
        height:100px;
    }
    div#bando2 {
        width: 100%;
        height: auto;
    }
    div.fanpage {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#fanpage1 {
        width: 100%;
        text-align: center;
    }
    div#fanpage2 {
        width: 100%;
        text-align: center;
    }
    div#fanpage1 a {
        width: 100%;
        height: auto;
        color: black;
        text-decoration: none;
    }
    div#fanpage1 a img {
        width: 100%;
    }
    div#fanpage2 a {
        width: 100%;
        height: auto;
        color: black;
        font-size: 35px;
        margin-right: 10px;
    }
    div.thongtin h6 {
        font-size: 20px;
    }
    ul#main-menu {
        flex-direction: column;
        position: relative;
    }
    ul#main-menu a.exit {
        position: absolute;
        top:4px;
        right: 7px;
        color: #f1f1f1;
        font-size: 20px;
    }
}