div.contain {
    width: 100%;
    height: auto;
    overflow: hidden;
}
body {
    font-size: 16px;
    font-family: arial;
    padding:0px;
    margin: 0px;
}
a#gototop {
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: #666666;
    color: white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    font-size: 30px;
    z-index: 10;
    opacity: 50%;
}
div.head {
    position:fixed;
    z-index: 10;
    background-color:#f1f1f1;
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.logo {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.logo div.gif {
    width: 80%;
    height: 75px;
}
div.logo div.gif img {
    width: 100%;
}
div.menu {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.menu div.danhsach {
    width: 70%;
    height: 30px;
}
div.menu div.danhsach ul.menucha {
    list-style-type: none;
    display: flex;
}
div.menu div.danhsach ul.menucha li {
    margin-left: 8%;
    margin-top: 2.5px;
}
div.menu div.danhsach ul.menucha li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.menu div.danhsach ul.menucha li a:hover {
    border-bottom: solid 1px #666666;
}
ul.menucon {
    padding: 0px;
    list-style-type: none;
    background: rgb(0, 0, 0,0.6);
    width: 200px;
    display: none;
}
ul.menucon li.f1 {
    padding-top: 30px;
    border-bottom: 1px solid gray;
    text-indent: -70px;
    
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a {
    color: white;
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a:active {
    color: #191919;
}
li.first:hover .menucon {
    display: block;
    position: absolute;
}
div.lienhe {
    width: 20%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
div.lienhe div.icon {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
}
div.lienhe div.icon div#canhan {
    width: 30%;
    height: auto;
    font-size: 30px;
}
div.lienhe div.icon div#muahang {
    width: 30%;
    height: auto;
    font-size: 30px;
}
div.lienhe div.icon div#canhan a {
    color:#666666;
}
div.lienhe div.icon div#muahang a {
    color: #666666;
}
div.body {
    width: 100%;
    height: auto;
}
div.banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 103px;
}
div.banner div.img1 {
    width: 60%;
    height: auto;
}
div.banner div.img1 img {
    width: 100%;
}
div.congcu {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
div.phanloai {
    margin-top: 50px;
    height: 10px;
    width: 70%;
    background-color: #191919;
    border: 2px solid #191919;
    border-radius: 5px;
}
div.tensp {
    font-size: 30px;
    margin-top: 10px;
    height: 50px;
    width: 20%;
    background-color: #191919;
    color: white;
    text-align: center;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
div.items {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
div.item {
    width: 26%;
    height: auto;
    padding: 0px 10px 0px 10px;
    position: relative;
}
div.label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
div.label a {
    text-decoration: none;
    color: white;
}
div.giamgia {
    position: absolute;
    top:25px;
    left:0;
    background-color: black;
}
div.giamgia a {
    text-decoration: none;
    color: white;
}
div.newarrival h3{
    text-align: center;
    padding-top: 65px;
}
div.item img {
    width: 100%;
    transition: transform 1s;
}
div.item img:hover {
    transform: scale(1.1);
}
div.item > div {
    overflow: hidden;
}
div.item .tensp {
    text-align: center;
}
p.tensp a {
    color: black;
}
p.tensp a:hover {
    text-decoration: none;
    font-weight: 600;
}
div.item .tien {
    text-align: center;
    background-color: whitesmoke;
}
div#kengang {
    display: flex;
    justify-content: center;
}
div#kengang div {
    border: solid 1px #f1f1f1;
    width: 70%;
}
div.chuyentrang {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
div.chuyentrang > div {
    display: block;
    width: 40px;
    height: 40px;
    border: solid 1px antiquewhite;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.chuyentrang > div a {
    padding: 6px 15px;
    width: 40px;
    height: 40px;
    color: #191919;
    text-decoration: none;
}
div.chuyentrang div.first {
    background-color: black;
}
div.chuyentrang div.first a {
    color: white;
}
div.photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
div.photo1 {
    background-image: url(tops/nen.png);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
}
div.photo1 > div {
    margin: 25px 25px;
    width:33.5%;
    height: 510px;
}
div.photo1 > div img {
    width: 100%;
    height: 510px;
    transition: transform 1s;
}
div.photo1 img:hover {
    transform: scale(1.2);
}
div.photo1 > div {
    overflow: hidden;
}
div.thongtin {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
div.bando {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
div#bando1 {
    width: 100%;
    height: 30%;
}
div#bando2 {
    width: 100%;
    height: 70%;
}
div.fanpage {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
div#fanpage1 {
    width: 50%;
    text-align: center;
}
div#fanpage1 a {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
}
div#fanpage1 a img {
    width: 100%;
}
div#fanpage2 {
    width: 50%;
}
div#fanpage2 a {
    width: 100%;
    height: auto;
    color: black;
    font-size: 35px;
    margin-right: 10px;
}
div.thongtin h6 {
    font-size: 20px;
}
div#fanpage2 a img {
    width: 10%;
}
div.footer {
    display: flex;
    height: 60px;
    justify-content: center;
     align-items: center;
    height: 60px;
    width: 100%;
    background-color:coral;
    margin-top: 25px;
    border-top: solid 1px gray;
}
div.footer p {
    margin-top: 20px;
}
div.head1 {
    display: none;
}
div.overlay {
    display: none;
}
@media screen and (max-width:768px){
    div.head {
        display: none;
    }
    div.overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }
    div.head1 {
        display: block;
        height: 60px;
        background-color: #f1f1f1;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    div#kihieu {
        width: 50px;
        padding: 15px 30px;
        font-size: 20px;
        color: #191919;
    }
    ul#main-menu {
        flex-direction: column;
    }
    ul#main-menu li {
        list-style-type: none;
        border-bottom: solid 1px #666666;
    }
    ul#main-menu li a {
        color: white;
        display: block;
        text-decoration: none;
        padding-top: 15px;
    }
    nav {
        background-color:rgb(0, 0, 0,0.6);
        display: none;
    }
    li#firstt {
        display: flex;
    }
    ul.menucon1 {
        display: none;
    }
    li#firstt i {
        margin-top : 17px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    li#firstt i#up {
        display: none;
    }
    #canhan1 {
        width: 30px;
        float: right;
        margin-top: -43px;
        margin-right: 10px;
        font-size: 19px;
    }
    #canhan1 a {
        color: #666666;
    }
    div.label {
        font-size: 12px;
    }
    div.giamgia {
        font-size: 12px;
        top: 20px;
    }
    div.thongtin {
        margin-top: 100px;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    div.bando {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    div#bando1 {
        width: 100%;
        height:100px;
    }
    div#bando2 {
        width: 100%;
        height: auto;
    }
    div.fanpage {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#fanpage1 {
        width: 100%;
        text-align: center;
    }
    div#fanpage2 {
        width: 100%;
        text-align: center;
    }
    div#fanpage1 a {
        width: 100%;
        height: auto;
        color: black;
        text-decoration: none;
    }
    div#fanpage1 a img {
        width: 100%;
    }
    div#fanpage2 a {
        width: 100%;
        height: auto;
        color: black;
        font-size: 35px;
        margin-right: 10px;
    }
    div.thongtin h6 {
        font-size: 20px;
    }
    div.banner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 61px;
    }
    div.banner div.img1 {
        width: 100%;
        height: auto;
    }
    div.phanloai {
        margin-top: 50px;
        height: 5px;
        width: 90%;
        background-color: #191919;
        border: 2px solid #191919;
        border-radius: 5px;
    }
    div.tensp {
        font-size: 17px;
        margin-top: 5px;
        height: 30px;
        width: 30%;
    }
    div.items {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    div.item {
        width: 40%;
    }
    div.photo {
        width: 100%;
        height: auto;
    }
    div.photo1 {
        background-image: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
    }
    div.photo1 > div {
        margin: 0px 0px;
        width:100%;
        height: auto;
    }
    div.photo1 > div img {
        width: 100%;
        height: auto;
        transition: transform 1s;
    }
    ul#main-menu {
        flex-direction: column;
        position: relative;
    }
    ul#main-menu a.exit {
        position: absolute;
        top:4px;
        right: 7px;
        color: #f1f1f1;
        font-size: 20px;
    }
}