div.contain {
    width: 100%;
    height: auto;
    overflow: hidden;
}
body {
    font-size: 16px;
    font-family: arial;
    padding:0px;
    margin: 0px;
}
a#gototop {
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    background-color: #666666;
    color: white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    font-size: 30px;
    z-index: 10;
    opacity: 50%;
}
div.head {
    position:fixed;
    z-index: 10;
    background-color:#f1f1f1;
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.head1 {
    display: none;
}
div.logo {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.logo div.gif {
    width: 80%;
    height: 75px;
}
div.logo div.gif img {
    width: 100%;
}
div.menu {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.menu div.danhsach {
    width: 70%;
    height: 30px;
}
div.menu div.danhsach ul.menucha {
    list-style-type: none;
    display: flex;
}
div.menu div.danhsach ul.menucha li {
    margin-left: 8%;
    margin-top: 2.5px;
}
div.menu div.danhsach ul.menucha li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
div.menu div.danhsach ul.menucha li a:hover {
    border-bottom: solid 1px #666666;
}
ul.menucon {
    padding: 0px;
    list-style-type: none;
    background: rgb(0, 0, 0,0.6);
    width: 200px;
    display: none;
}
ul.menucon li.f1 {
    padding-top: 30px;
    border-bottom: 1px solid gray;
    text-indent: -70px;
    
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a {
    color: white;
}
div.menu div.danhsach ul.menucha li.first ul.menucon li.f1 a:active {
    color: #191919;
}
li.first:hover .menucon {
    display: block;
    position: absolute;
}
div.lienhe {
    width: 20%;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
div.lienhe div.icon {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
}
div.lienhe div.icon div#canhan {
    width: 30%;
    height: auto;
    font-size: 30px;
}
div.lienhe div.icon div#canhan a {
    color:#666666;
}
div.lienhe div.icon div#muahang a {
    color: #666666;
}
div.lienhe div.icon div#muahang {
    width: 30%;
    height: auto;
    font-size: 30px;
}
#carouselId {
    padding-top: 102px;
}
div.carousel-inner img {
    width: 100%;
    height: auto;
}
div.body {
    width: 100%;
    height: auto;
}
div.sale {
    height:150px;
}
div.sale h3{
    text-align: center;
    padding-top: 65px;
}
div.items {
    display: flex;
    justify-content: center;
}
div.item {
    width: 26%;
    height: auto;
    padding: 0px 10px 0px 10px;
    position: relative;
}
div.item img {
    width: 100%;
    transition: transform 1s;
}
div.item img:hover {
    transform: scale(1.1);
}
div.item > div {
    overflow: hidden;
}
div.item .tensp {
    text-align: center;
}
p.tensp a {
    color: black;
}
p.tensp a:hover {
    text-decoration: none;
    font-weight: 600;
}
div.item .tien {
    text-align: center;
    background-color: whitesmoke;
}
div.saler {
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 20px;
}
div.saler div#nutxemthem {
    width: 120px;
    height: 35px;
    border: solid 2px black;
}
div.saler div#nutxemthem:hover {
    background-color: #666666;
}
div.saler div#nutxemthem a {
    text-align: center;
}
div.saler div#nutxemthem a p {
    padding-top: 5px;
    font-size: 13px;
}
div.saler div#nutxemthem a:visited {
    color: black;
}
div.saler div#nutxemthem a:hover {
    text-decoration: none;
    color: white;
}
div.viewitems {
    display: flex;
    justify-content: center;
}
div.viewitems div.viewitem {
    width: 40%;
    height: auto;
    padding: 0px 10px 0px 10px;
}
div.viewitems div.viewitem img {
    width: 100%;
}
div.viewitem  {
    overflow: hidden;
}
div.item2s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.item2 {
    width: 26%;
    height: auto;
    padding: 0px 10px 0px 10px;
    position: relative;
}
div.label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
div.label a {
    text-decoration: none;
    color: white;
}
div.giamgia {
    position: absolute;
    top:25px;
    left:0;
    background-color: black;
}
div.giamgia a {
    text-decoration: none;
    color: white;
}
div.bag a {
    text-decoration: none;
    color: white;
}
div.item2 img {
    width: 100%;
    transition: transform 1s;
}
div.item2 img:hover {
    transform: scale(1.1);
}
div.item2 > div {
    overflow: hidden;
}
div.item2 .tensp {
    text-align: center;
}
div.item2 .tien {
    text-align: center;
}
div.newarrival {
    height:150px;
}
div.newarrival h3{
    text-align: center;
    padding-top: 65px;
}
div.item3s {
    display: flex;
    height: 100%;
}
div.item3s div.item3a {
    width: 50%;
    height: 100%;
    position: relative;
}
div.item3s div.item3b > div {
    position: relative;
}
div.bag {
    position: absolute;
    top: 50%;
    left: 45%;
    background-color: black;
    color: white;
}
div.bag1 {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: black;
    color: white;
}
div.bag1 a {
    text-decoration: none;
    color: white;
}
div.bag a:hover {
    color: red;
}
div.bag1 a:hover {
    color: red;
}
div.item3s div.item3b {
    width: 50%;
    height: 100%;
}
div.item3s div.item3a img {
    width: 100%;
}
div.item3s div.item3b img {
    width: 100%;
}
div.item3b {
    display: flex;
    flex-direction: column;
    position: relative;
}
div.item4s {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.item4 {
    width: 20%;
    height: auto;
    position: relative;
}
div.label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}
div.item4 img {
    width: 100%;
}
div.item4 .tensp {
    text-align: center;
}
div.item4 .tien {
    text-align: center;
}
#p1:hover {
    content: url(image4/crackenb.jpg);
}
#p2:hover {
    content: url(image4/2b.jpg);
}
#p3:hover {
    content: url(image4/3b.jpg);
}
#p4:hover {
    content: url(image4/4b.jpg);
}
#p5:hover {
    content: url(image4/5b.jpg);
}
#p6:hover {
    content: url(image4/6b.jpg);
}
#p7:hover {
    content: url(image4/7b.jpg);
}
#p8:hover {
    content: url(image4/8b.jpg);
}
#p9:hover {
    content: url(image4/9b.jpg);
}
#p10:hover {
    content: url(image4/10b.jpg);
}
div.item4 img {
    width: 100%;
    transition: transform 0.75s;
}
div.item4 img:hover {
    transform: scale(1.05);
}
div.donglogo {
    height:150px;
}
div.donglogo h5{
    text-align: center;
    padding-top: 65px;
}
div.alllogo {
    display: flex;
    justify-content: center;
    background-color: black;
}
div.alllogo > div {
    width: 15%;
    margin: 0px 80px 0px 80px;
}
div.alllogo img {
    width: 100%;
}
div.sp {

    display: flex;
    align-items: center;
    height: 80px;
    background-color:#f1f1f1;
}
div#phone {
    height: 30px;
    width: 2.5%;
   margin: 5px 5px 0px 5px;
}
div#sđt {
    height: 30px;
    width: 40%;
    margin-top: 7px;
    font-size: 17px;
}
div#sđt span {
    color: red;
}
div#phone img{
    width: 70%;
}
div.thongtin {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
div.bando {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
div#bando1 {
    width: 100%;
    height: 30%;
}
div#bando2 {
    width: 100%;
    height: 70%;
}
div.fanpage {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
div#fanpage1 {
    width: 50%;
    text-align: center;
}
div#fanpage1 a {
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;
}
div#fanpage1 a img {
    width: 100%;
}
div#fanpage2 {
    width: 50%;
}
div#fanpage2 a {
    width: 100%;
    height: auto;
    color: black;
    font-size: 35px;
    margin-right: 10px;
}
div.thongtin h6 {
    font-size: 20px;
}
div#fanpage2 a img {
    width: 10%;
}
div.footer {
    display: flex;
    height: 60px;
    justify-content: center;
     align-items: center;
    height: 60px;
    width: 100%;
    background-color:coral;
    margin-top: 25px;
    border-top: solid 1px gray;
}
div.footer p {
    margin-top: 20px;
}
div.overlay {
    display: none;
}
@media screen and (max-width:768px){
    div.head {
        display: none;
    }
    div.overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }
    div.head1 {
        display: block;
        height: 60px;
        background-color: #f1f1f1;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    div#kihieu {
        width: 50px;
        padding: 15px 30px;
        font-size: 20px;
        color: #191919;
    }
    ul#main-menu {
        flex-direction: column;
        position: relative;
    }
    ul#main-menu a.exit {
        position: absolute;
        top:4px;
        right: 7px;
        color: #f1f1f1;
        font-size: 20px;
    }
    ul#main-menu li {
        list-style-type: none;
        border-bottom: solid 1px #666666;
    }
    ul#main-menu li a {
        color: white;
        display: block;
        text-decoration: none;
        padding-top: 15px;
    }
    nav {
        background-color:rgb(0, 0, 0,0.6);
        display: none;
    }
    li#firstt {
        display: flex;
    }
    ul.menucon1 {
        display: none;
    }
    li#firstt i {
        margin-top : 17px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    li#firstt i#up {
        display: none;
    }
    #canhan1 {
        width: 30px;
        float: right;
        margin-top: -43px;
        margin-right: 10px;
        font-size: 19px;
    }
    #canhan1 a {
        color: #666666;
    }
    #carouselId {
        padding-top: 60px;
    }
    div.items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.item {
        text-align: center;
        width: 50%;
        height: auto;
        padding: 0px 10px 0px 10px;
        position: relative;
    }
    div.label {
        font-size: 12px;
    }
    div.giamgia {
        font-size: 12px;
        top: 20px;
    }
    div.viewitems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.viewitems div.viewitem {
        width: 100%;
        height: auto;
        padding: 0px 10px 0px 10px;
    }
    div.viewitems div.viewitem img {
        width: 100%;
    }
    div.item2s {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.item2 {
        width: 40%;
        height: auto;
        padding: 0px 10px 0px 10px;
        position: relative;
    }
    div.item3s {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.item3s div.item3a {
        width: 100%;
        height: 100%;
        position: relative;
    }
    div.item3s div.item3b {
        width: 100%;
        height: 100%;
    }
    div.bag {
        position: absolute;
        top: 50%;
        left: 36%;
        background-color: black;
        color: white;
    }
    div.item4s {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.item4 {
        width: 40%;
        height: auto;
        position: relative;
    }
    div.alllogo {
        display: flex;
        justify-content: center;
        background-color: black;
        height: 30px;
    }
    div#phone {
        height: 30px;
        width: 30px;
        margin: 5px 5px 0px 5px;
    }
    div.thongtin {
        margin-top: 100px;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    div.bando {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    div#bando1 {
        width: 100%;
        height:100px;
    }
    div#bando2 {
        width: 100%;
        height: auto;
    }
    div.fanpage {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#fanpage1 {
        width: 100%;
        text-align: center;
    }
    div#fanpage2 {
        width: 100%;
        text-align: center;
    }
    div#fanpage1 a {
        width: 100%;
        height: auto;
        color: black;
        text-decoration: none;
    }
    div#fanpage1 a img {
        width: 100%;
    }
    div#fanpage2 a {
        width: 100%;
        height: auto;
        color: black;
        font-size: 35px;
        margin-right: 10px;
    }
    div.thongtin h6 {
        font-size: 20px;
    }
    
}



